@keyframes fadeUp {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  50% {
    opacity: 0.5;
    transform: translateY(0px);
  }
  100% {
    opacity: 1;
    transform: translateY(-4px);
  }
}

.animate-fadeUp {
  animation: fadeUp 1.5s ease-out forwards;
}


@keyframes flameText {
  0% {
    color: #f97316;
    text-shadow: 0 0 1px #f97316, 0 0 2px #fb923c;
  }
  50% {
    color: #fb923c;
    text-shadow: 0 0 2px #fb923c, 0 0 3px #f97316;
  }
  100% {
    color: #f97316;
    text-shadow: 0 0 1px #f97316, 0 0 2px #fb923c;
  }
}

.animate-flameText {
  animation: flameText 1.8s infinite ease-in-out;
}


/* اسکرول باریک و صنعتی */
.custom-scroll::-webkit-scrollbar {
  width: 6px;
}

.custom-scroll::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scroll::-webkit-scrollbar-thumb {
  background-color: #333;
  border-radius: 4px;
  border: 1px solid #999;
}

.custom-scroll::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

/* دارک مود */
.dark .custom-scroll::-webkit-scrollbar-thumb {
  background-color: #facc15;
  border-color: #444;
}

.dark .custom-scroll::-webkit-scrollbar-thumb:hover {
  background-color: #eab308;
}

/* افکت موج آرام روی پرچم‌ها */
@keyframes subtleWave {
  0%   { transform: translateY(0px); }
  25%  { transform: translateY(1px); }
  50%  { transform: translateY(-1px); }
  75%  { transform: translateY(1px); }
  100% { transform: translateY(0px); }
}

.animate-subtleWave {
  animation: subtleWave 3s infinite ease-in-out;
  display: inline-block;
}

@keyframes fadeDown {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeDown {
  animation: fadeDown 0.6s ease-out forwards;
}