@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes fade {
  0%{
    opacity: 0.5;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 0.5;
  }
}

.animate-fade {
  animation: fade 4s ease-in-out infinite;
}



html,
body,
#root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}